{% extends 'book/main.html' %}
{% load static%}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-10">
            <br>
            <h5>BOOKS:</h5>
            <div class="card card-body">			
                <table class="table table-sm">
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Price</th>
                        <th>Edition</th>
                    </tr>
                    {% for book in cart.books.all %}
                    <tr>
                        <td>{{book.title}} </td>
                        <td>{{book.Author}} </td>
                        <td>{{book.Price}} </td>
                        <td>{{book.Edition}} </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}